.mainContainer {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}

.datePicker {
    background-color: white;
    width: 300px;
    border-radius: 40px;
}

.title {}

.description {}

.timeInput {}

.checkButton {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    text-align: center;
    border: 2px solid gray;
    padding: 0px;
}

.checkText {
    margin-top: 5px;
    padding: 0px;
    cursor: pointer;
}

.checkButton:hover {
    background-color: green;
    color: white;
}